<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>CFBundleIdentifier</key>
    <string>com.na.dusk</string>

    <key>CFBundleName</key>
    <string>dusk</string>

    <key>CFBundleDisplayName</key>
    <string>dusk</string>

    <key>CFBundleExecutable</key>
    <string>dusk</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleIconName</key>
    <string>dusk</string>

    <key>LSUIElement</key>
    <true/>

    <key>CFBundleIconFile</key>
    <string>dusk</string>
</dict>
</plist>
